
@{
    ViewBag.Title = "ConfirmActivation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/components/cards/card.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("ConfirmActivation", "User", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
<div class="container">
    <div class="row layout-top-spacing">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow p-5">
                @**@
                <div class="">
                    @*widget-content widget-content-area*@
                    <div class="card component-card_3" style="background-color: #22396c;">
                        <div class="card-body">
                            <img src="~/assets/img/tradelogo.png" class="card-img-top" alt="...">
                            <h6 style="color:white">Congratulations! Your account has been activated.</h6>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
}

